#title {
    text-align: center;
    margin-top: 20px;
}

#subtitle {
    text-align: center;
}

#button-container {
    text-align: center;
}

#heading {
    margin-top: 25vh;
}

button {
    margin-left: 5px;
    margin-right: 5px;
}

#v3 {
    margin-top: 25vh;
}
