.text {
    text-align: center;
    margin-top: 20px;
}

#button-container {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

#stimulus-container {
    height: 400px;
}

.stimulus {
    height: 400px;
    display: block;
    margin: auto;
}
