#button-container {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

#stimulus-container {
    height: 400px;
}

.stimulus {
    width: 400px;
    height: 400px;
    display: block;
    margin: auto;
}

#stimulus2 {
    animation-name: spin-constant;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 30;
}

@keyframes spin-constant {
    100% {
        transform: rotate(720deg);
    }
}

#back-container {
    text-align: center;
    margin: 20px;
}
