@keyframes spin-accelerate-0 {
    100% {
        transform: rotate(390deg);
    }
}

@keyframes spin-accelerate-1 {
    100% {
        transform: rotate(420deg);
    }
}

@keyframes spin-accelerate-2 {
    100% {
        transform: rotate(450deg);
    }
}

@keyframes spin-accelerate-3 {
    100% {
        transform: rotate(480deg);
    }
}

@keyframes spin-accelerate-4 {
    100% {
        transform: rotate(510deg);
    }
}

@keyframes spin-accelerate-5 {
    100% {
        transform: rotate(540deg);
    }
}

@keyframes spin-accelerate-6 {
    100% {
        transform: rotate(570deg);
    }
}

@keyframes spin-accelerate-7 {
    100% {
        transform: rotate(600deg);
    }
}

@keyframes spin-accelerate-8 {
    100% {
        transform: rotate(630deg);
    }
}

@keyframes spin-accelerate-9 {
    100% {
        transform: rotate(660deg);
    }
}

@keyframes spin-accelerate-10 {
    100% {
        transform: rotate(690deg);
    }
}

@keyframes spin-accelerate-11 {
    100% {
        transform: rotate(720deg);
    }
}

@keyframes spin-accelerate-12 {
    100% {
        transform: rotate(750deg);
    }
}

@keyframes spin-accelerate-13 {
    100% {
        transform: rotate(780deg);
    }
}

@keyframes spin-accelerate-14 {
    100% {
        transform: rotate(810deg);
    }
}

@keyframes spin-accelerate-15 {
    100% {
        transform: rotate(840deg);
    }
}

@keyframes spin-accelerate-16 {
    100% {
        transform: rotate(870deg);
    }
}

@keyframes spin-accelerate-17 {
    100% {
        transform: rotate(900deg);
    }
}

@keyframes spin-accelerate-18 {
    100% {
        transform: rotate(930deg);
    }
}

@keyframes spin-accelerate-19 {
    100% {
        transform: rotate(960deg);
    }
}

@keyframes spin-accelerate-20 {
    100% {
        transform: rotate(990deg);
    }
}

@keyframes spin-accelerate-21 {
    100% {
        transform: rotate(1020deg);
    }
}

@keyframes spin-accelerate-22 {
    100% {
        transform: rotate(1050deg);
    }
}

@keyframes spin-accelerate-23 {
    100% {
        transform: rotate(1080deg);
    }
}

@keyframes spin-accelerate-24 {
    100% {
        transform: rotate(1110deg);
    }
}

@keyframes spin-accelerate-25 {
    100% {
        transform: rotate(1140deg);
    }
}

@keyframes spin-accelerate-26 {
    100% {
        transform: rotate(1170deg);
    }
}

@keyframes spin-accelerate-27 {
    100% {
        transform: rotate(1200deg);
    }
}

@keyframes spin-accelerate-28 {
    100% {
        transform: rotate(1230deg);
    }
}

@keyframes spin-accelerate-29 {
    100% {
        transform: rotate(1260deg);
    }
}

@keyframes spin-accelerate-30 {
    100% {
        transform: rotate(1290deg);
    }
}
