@keyframes spin1-0 {
    100% {
        transform: rotate(390deg);
    }
}

@keyframes spin1-1 {
    100% {
        transform: rotate(420deg);
    }
}

@keyframes spin1-2 {
    100% {
        transform: rotate(450deg);
    }
}

@keyframes spin1-3 {
    100% {
        transform: rotate(480deg);
    }
}

@keyframes spin1-4 {
    100% {
        transform: rotate(510deg);
    }
}

@keyframes spin1-5 {
    100% {
        transform: rotate(540deg);
    }
}

@keyframes spin1-6 {
    100% {
        transform: rotate(570deg);
    }
}

@keyframes spin1-7 {
    100% {
        transform: rotate(600deg);
    }
}

@keyframes spin1-8 {
    100% {
        transform: rotate(630deg);
    }
}

@keyframes spin1-9 {
    100% {
        transform: rotate(660deg);
    }
}

@keyframes spin1-10 {
    100% {
        transform: rotate(690deg);
    }
}

@keyframes spin1-11 {
    100% {
        transform: rotate(720deg);
    }
}

@keyframes spin1-12 {
    100% {
        transform: rotate(750deg);
    }
}

@keyframes spin1-13 {
    100% {
        transform: rotate(780deg);
    }
}

@keyframes spin1-14 {
    100% {
        transform: rotate(810deg);
    }
}

@keyframes spin1-15 {
    100% {
        transform: rotate(840deg);
    }
}

@keyframes spin1-16 {
    100% {
        transform: rotate(870deg);
    }
}

@keyframes spin1-17 {
    100% {
        transform: rotate(900deg);
    }
}

@keyframes spin1-18 {
    100% {
        transform: rotate(930deg);
    }
}

@keyframes spin1-19 {
    100% {
        transform: rotate(960deg);
    }
}

@keyframes spin1-20 {
    100% {
        transform: rotate(990deg);
    }
}

@keyframes spin1-21 {
    100% {
        transform: rotate(1020deg);
    }
}

@keyframes spin1-22 {
    100% {
        transform: rotate(1050deg);
    }
}

@keyframes spin1-23 {
    100% {
        transform: rotate(1080deg);
    }
}

@keyframes spin1-24 {
    100% {
        transform: rotate(1110deg);
    }
}

@keyframes spin1-25 {
    100% {
        transform: rotate(1140deg);
    }
}

@keyframes spin1-26 {
    100% {
        transform: rotate(1170deg);
    }
}

@keyframes spin1-27 {
    100% {
        transform: rotate(1200deg);
    }
}

@keyframes spin1-28 {
    100% {
        transform: rotate(1230deg);
    }
}

@keyframes spin1-29 {
    100% {
        transform: rotate(1260deg);
    }
}
